@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

body{
  margin: 0;
  font-family: 'PT Mono', monospace;
}

div{
  &#game{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    div{
      box-sizing: border-box;
      border: 2px black solid;
      border-radius: 5px;
      padding: 26px 35px;
      margin: 5px;
      cursor: pointer;
      &.select{
        border: 4px red solid;
        padding: 24px 33px;
      }
      &.emptycard{
        border: 0;
        padding: 28px 37px;
      }
    }
  }
  &#timer{
  }
  &#settings{
    margin: 10px;
    border: black 2px solid;
    max-width: 600px;
  }
}
